.card label {
  font-size: 0.8rem;
}

#subnav {
  margin-top: 15px;
  margin-bottom: 15px;
}


.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.inlineCard {
  display: inline-block;
  margin: 13px;
}

.displayInlineBlock {
  display: inline-block;
}

a.displayInlineBlock {
  float: right;
}
.container {
  margin-top: 80px;
}


#changePassword {
  cursor: pointer;
  color: blue;
}